<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/style.css"> -->
	<link rel="stylesheet" href="../static/css/style1.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color:#cce6ff;">


	
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 header-logo">
					<br>
					<a href="index.html"><img src="../static/img/logo1.png" alt="" class="img-responsive logo" style=""></a>
				</div>

				<div class="col-md-7">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
					        <li><a class="menu active" href="#home" >Home</a></li>
					        <li><a class="menu" href="#about">Dataset Info</a></li>
					        <li><a class="menu" href="prevention.html">Prevention </a></li>
					        <li><a class="menu" href="predictor.html">Predictor</a></li>
					        <li><a class="menu" href="#contact">Contact us</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->
	<br>
	<br>
	<br>
	<hr>
	<!-- <center> <img src="..static/img/Heart4.jpg"> </center> -->
	<div style= "position: relative;
  min-height: 50vh;">

	<section class=" text-center" >
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6">
     <p style = "color:black !important; margin-top:180px; font-size:25px;" >
     Heart Diseases, also called Cardiovascular diseases, are the leading cause of death in all areas of the world except  Africa. According to WHO, these diseases are a group of disorders found in heart and blood vessels that includes coronary heart disease, cerebrovascular disease, rheumatic heart disease, etc. Together these diseases resulted in around 17.9 million deaths(31% of all global deaths) since 2016, up from 12.3 million deaths (25.8% of all global deaths) since 1990. </p> 
	  		 </div>
	  		 <div class="col-md-4 col-sm-6">
	  		  <!-- <img src="img/member3.jpg" alt = " ">   -->
	  		 <a href="index.html"><img src="../static/img/Heart4.jpg" alt="" class="img-circle img-responsive " style="margin-left: 50px;  margin-top:120px; width:300px; height:300px;"></a>
	  		  <!-- <img src="img/logo.png" alt="" class="img-responsive "> -->
	  		</div>
    	</div>
	</div>
</section>
</div>
 
 <section class=" text-center" >
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6">
				<div class="card"> 
				<div  data-aos="fade-right"> <h2 style="color:black;"> STATISTICS </h2> </div>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
		</div>
	</div>
</section>

 


	<footer class="footer clearfix" style=" clear: both;
    position: relative;
    height: 80px;
    margin-top: -200px;">

    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-xs-6 footer-para">
          <p><center>&copy;Osmania's All right reserved</center></p>
        </div>
        <div class="col-xs-6 text-right">
          <a href=""><i class="fa fa-facebook"></i></a> &nbsp; &nbsp; &nbsp;
          <a href=""><i class="fa fa-twitter"></i></a> &nbsp; &nbsp; &nbsp;
          <a href=""><i class="fa fa-skype"></i></a> &nbsp; &nbsp; &nbsp;
        </div>
      </div>
    <!-- </div> -->
  </footer>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="../static/js/jquery-2.1.1.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<!-- <script src="js/gmaps.js"></script> -->
	<script src="../static/js/smoothscroll.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<script>
  AOS.init();
</script>

</body>
</html>
