<html>
<head>
    <title>Prevention page Page</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=" ../static/css/style.css">

    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"> </script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<style> 
            li{
		margin-left=10px;
			}

	.header {

    text-align: center;
    text-align-last: :center; 
    background: white;
    color:#34cffa;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 24px;

}

a{
color:#34cffa;
font-family:  Arial, Helvetica, sans-serif;
  font-size: 18;

}
h5{
    font-family:  Arial, Helvetica, sans-serif;
    text-decoration-style: bold;

}
h2{
font-weight:bold;}
h1{
		font-family: Arial;
	background-color:#cce6ff;
			}
body{
		background-color:#cce6ff;
		margin: 25px;
			}
img{
		border: 1px solid #ddd;
		border-radius: 4px;
 		padding: 5px;
   		background-color:black;
  			}

			
</style>

<marquee behavior="scroll" direction="right">
  
    <div class="h1">
  <h4 style="font-size:2vw">Heart Disease Prediction</h4>

</div>

</marquee>

    <nav class="navbar navbar-expand-sm bg-light">
  
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="Home.html">
                  <h5>Home </h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dataset_info') }}">
                  <h5>Dataset Info<h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prevention.html">
                  <h5>Preventions</h5>
                </a>
            </li>

             <li class="nav-item">
                <a class="nav-link" href="predictor.html">
                  <h5>Predictor</h5>
                </a>
            </li>

             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contactus') }}">
                  <h5>Contact Us</h5>
                </a>
            </li>
        </ul>
    </nav>



<div  class="header"><h1>
   <p style = " font-size:60px; color:black; font-family: Arial, Helvetica, sans-serif; ">Strategies to prevent Heart Disease</h1></p></div>




	
<div class="auto-mobile"></div>
<div class="by"><em><marquee direction="left"><p style = "color:black !important;  font-size:25px;" >You can prevent heart disease by following a heart-healthy lifestyle. Here are strategies to help you protect your heart.</p></div>
</marquee>

<p style = "color:black !important;  font-size:25px;" >Heart disease is a leading cause of death, but it's not inevitable. While you can't change some risk factors &mdash; such as family history, sex or age &mdash; there are plenty of ways you can reduce your risk of heart disease.</p>
<p style = "color:black !important;  font-size:25px;" >Get started with these seven tips for boosting your heart health:</p><div id="ad-mobile-top-container"></div>


	
<div class="tab"></div>
<h2>1. Don't smoke or use tobacco</h2>
    <img src="https://media.tenor.com/images/2e8af0c0487f4a355d9a1c294bf53225/tenor.gif" width=150px height=200px align="right" HSPACE"50" VSPACE="50" style="border-radius: 50%;" >
<div class="overlay">
</div>

<p style = "color:black !important;  font-size:25px;" >One of the best things you can do for your heart is to stop smoking or using smokeless tobacco. Even if you're not a smoker, be sure to avoid secondhand smoke.</p>
<p style = "color:black !important;  font-size:25px;" >Chemicals in tobacco can damage your heart and blood vessels. Cigarette smoke reduces the oxygen in your blood, which increases your blood pressure and heart rate because your heart has to work harder to supply enough oxygen to your body and brain.</p><div id="ad-mobile-top-container"></div>
<p style = "color:black !important;  font-size:25px;" >There's good news though. Your risk of heart disease starts to drop in as little as a day after quitting. After a year without cigarettes, your risk of heart disease drops to about half that of a smoker. No matter how long or how much you smoked, you'll start reaping rewards as soon as you quit.</p>


	
<div class="auto-mobile"></div>
<h2>2. Get moving: Aim for at least 30 to 60 minutes of activity daily</h2>
<marquee direction="right"><img src="https://i.pinimg.com/originals/47/03/09/4703093a70ba47001bf2c86319aae091.gif" width=100px ></marquee>

<p style = "color:black !important;  font-size:25px;" >Regular, daily physical activity can lower your risk of heart disease. Physical activity helps you control your weight and reduce your chances of developing other conditions that may put a strain on your heart, such as high blood pressure, high cholesterol and type 2 diabetes.</p><div id="ad-mobile-top-container"></div>
<p style = "color:black !important;  font-size:25px;" >If you haven't been active for a while, you may need to slowly work your way up to these goals, but in general, you should aim for at least:</p>
<ul>
<li>150 minutes a week of moderate aerobic exercise, such as walking at a brisk pace</li>
<li>75 minutes a week of vigorous aerobic activity, such as running</li>
<li>Two or more strength training sessions a week</li>
</ul>
<p style = "color:black !important;  font-size:25px;" >Even shorter bouts of activity offer heart benefits, so if you can't meet those guidelines, don't give up. Just five minutes of moving can help, and activities such as gardening, housekeeping, taking the stairs and walking the dog all count toward your total. You don't have to exercise strenuously to achieve benefits, but you can see bigger benefits by increasing the intensity, duration and frequency of your workouts.</p>


	
<div class="auto-mobile"></div>
<h2>3. Eat a heart-healthy diet</h2>
<img src="https://www.downtoearth.org/sites/default/files/uploads/articles/heart_2.jpg" width=500 align="right" HSPACE"50" VSPACE="50">
<p style = "color:black !important;  font-size:25px;" >A healthy diet can help protect your heart, improve your blood pressure and cholesterol, and reduce your risk of type 2 diabetes. A heart-healthy eating plan includes:</p>
<ul>
    <li>Vegetables and fruits</li>
    <li>Beans or other legumes</li>
    <li>Lean meats and fish</li>
    <li>Low-fat or fat-free dairy foods</li>
    <li>Whole grains</li>
    <li>Healthy fats, such as olive oil</li>
</ul><div id="ad-mobile-top-container"></div>
<p style = "color:black !important;  font-size:25px;" >Two examples of heart-healthy food plans include the Dietary Approaches to Stop Hypertension (DASH) eating plan and the Mediterranean diet.</p>
<p style = "color:black !important; font-size:25px;" >Limit intake of the following:</p>
<ul>
   <li><p style = "color:black !important;  font-size:15px;" >Salt</li>
    <li><p style = "color:black !important;  font-size:15px;" >Sugar</li>
    <li><p style = "color:black !important;  font-size:15px;" >Processed carbohydrates</li>
    <li><p style = "color:black !important;  font-size:15px;" >Alcohol</li>
    <li><p style = "color:black !important;  font-size:15px;" >Saturated fat (found in red meat and full-fat dairy products) and trans fat (found in fried fast food, chips, baked goods)</li></p>
</ul>


	
<div class="auto-mobile"></div>
<h2>4. Maintain a healthy weight</h2>
<img src="https://i.pinimg.com/originals/25/ca/c2/25cac220914825875280e2def0fc3686.gif" width=150px height=250px align="left" HSPACE"50" VSPACE="50">

<p style = "color:black !important;  font-size:25px;" >Being overweight &mdash; especially around your middle &mdash; increases your risk of heart disease. Excess weight can lead to conditions that increase your chances of developing heart disease &mdash; including high blood pressure, high cholesterol and type 2 diabetes.</p>
<p style = "color:black !important;  font-size:25px;" >One way to see if your weight is healthy is to calculate your body mass index (BMI), which uses your height and weight to determine whether you have a healthy or unhealthy percentage of body fat. A <abbr title="body mass index">BMI</abbr> of 25 or higher is considered overweight and is generally associated with higher cholesterol, higher blood pressure, and an increased risk of heart disease and stroke.</p><div id="ad-mobile-top-container"></div>
<p style = "color:black !important;  font-size:25px;" >Waist circumference also can be a useful tool to measure how much abdominal fat you have. Your risk of heart disease is higher if your waist measurement is greater than:</p>
<ul>
    <li>40 inches (101.6 centimeters, or cm) for men</li>
    <li>35 inches (88.9 cm) for women</li>
</ul>
<p style = "color:black !important;  font-size:25px;" >Even a small weight loss can be beneficial. Reducing your weight by just 3% to 5% can help decrease certain fats in your blood (triglycerides), lower your blood sugar (glucose) and reduce your risk of type 2 diabetes. Losing even more helps lower your blood pressure and blood cholesterol level.</p>


	
<div class="auto-mobile"></div>
<h2>5. Get good quality sleep</h2>
<img src="https://www.verywellmind.com/thmb/bH_t8jiJ7fZaKZPi6IFCEO4mjBY=/400x250/filters:no_upscale():max_bytes(150000):strip_icc()/Diurnal-mood-variation-1067149-no-text-b03e52be83704bec9d6c802c9bcab54d.gif" width=300px height=300px align="right" HSPACE"50" VSPACE="50">

<p style = "color:black !important;  font-size:25px;" >A lack of sleep can do more than leave you yawning; it can harm your health. People who don't get enough sleep have a higher risk of obesity, high blood pressure, heart attack, diabetes and depression.</p>
<p style = "color:black !important; font-size:25px;" >Most adults need at least seven hours of sleep each night. Make sleep a priority in your life. Set a sleep schedule and stick to it by going to bed and waking up at the same times each day. Keep your bedroom dark and quiet, so it's easier to sleep.</p><div id="ad-mobile-top-container"></div>
<p style = "color:black !important;  font-size:25px;" >If you feel like you've been getting enough sleep but you're still tired throughout the day, ask your doctor if you need to be evaluated for obstructive sleep apnea, a condition that can increase your risk of heart disease. Signs of obstructive sleep apnea include loud snoring, stopping breathing for short times during sleep and waking up gasping for air. Treatments for obstructive sleep apnea may include losing weight if you're overweight or using a continuous positive airway pressure (CPAP) device that keeps your airway open while you sleep.</p>


	
<div class="auto-mobile"></div>
<h2>6. Get regular health screenings</h2>
<img src="https://lh3.googleusercontent.com/proxy/tCNz4Qw3tkevTLYwOLYm4Ev8Q0wR2XYFKdsZqooKKGOEQswpDnFFURfi9jsr5xWMWMnop2wzGO8gbgCsc1UKtqAp36aUWUssatNw71gexhsDK0-rgbei" width=300px height=400px align="left" HSPACE"50" VSPACE="50">

<p style = "color:black !important;  font-size:25px;" >High blood pressure and high cholesterol can damage your heart and blood vessels. But without testing for them, you probably won't know whether you have these conditions. Regular screening can tell you what your numbers are and whether you need to take action.</p>
<ul>
    <li><p style = "color:black !important; margin-left=10px; font-size:25px;" ><strong>Blood pressure.</strong> Regular blood pressure screenings usually start in childhood. Starting at age 18, your blood pressure should be measured at least once every two years to screen for high blood pressure as a risk factor for heart disease and stroke.</p><div id="ad-mobile-top-container"></div>
<p style = "color:black !important; margin-left=10px; font-size:25px;" >If you're between 18 and 39 and have risk factors for high blood pressure, you'll likely be screened once a year. People age 40 and older also are given a blood pressure test annually.</p></li>
  <li><p style = "color:black !important; margin-left=10px; font-size:25px;" ><strong>Cholesterol levels.</strong> Adults generally have their cholesterol measured at least once every four to six years. Cholesterol screening usually starts at age 20, though earlier testing may be recommended if you have other risk factors, such as a family history of early-onset heart disease.</li>
    <li><p style = "color:black !important; margin-left=10px; font-size:25px;" ><strong>Type 2 diabetes screening.</strong> Diabetes is a risk factor for heart disease. If you have risk factors for diabetes, such as being overweight or having a family history of diabetes, your doctor may recommend early screening. If your weight is normal and you don't have other risk factors for type 2 diabetes, screening is recommended beginning at age 45, with retesting every three years.</li>
</ul></p>
<p style = "color:black !important;  font-size:25px;" >If you have a condition such as high cholesterol, high blood pressure or diabetes, your doctor may prescribe medications and recommend lifestyle changes. Make sure to take your medications as your doctor prescribes and follow a healthy-lifestyle plan.</p>


<h2>7. Manage stress</h2>
<img src="https://static01.nyt.com/images/2017/07/17/well/mind/stressstill/stressstill-jumbo-v2.gif" width=300px height=100px align="right" >

<p style = "color:black !important;  font-size:25px;" >Some people cope with stress in unhealthy ways &mdash; such as overeating, drinking or smoking. Finding alternative ways to manage stress &mdash; such as physical activity, relaxation exercises or meditation &mdash; can help improve your health.</p>








<footer class="footer clearfix">

    <div class="container">
      <div class="row">
        <div class="col-xs-6 footer-para">
          <p style= "text-align:center; font-size: 18px;"> &copy;Osmania's All right reserved</p>
        </div>
        <br>
        <div class="col-xs-6 text-right">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-skype"></i></a>
        </div>
      </div>
    </div>

</footer>

 

</body>
</html>



