 <div class="container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading">Enter Details to test Diabetes result </div>
      <div class="panel-body">
        <form action="" method="post" class="">

         
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">Pregnancies</label>
           
                <p> </p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">Glucose</label>
               
                <p> </p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">BloodPressure</label>
            
                <p> form.BloodPressure.help_text</p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">SkinThickness</label>
              
                <p> form.SkinThickness.help_text </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">Insulin</label>
         
                <p> form.Insulin.help_text </p>

              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">BMI</label>
                <p> orm.BMI.help_text </p>

              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">DiabetesPedigreeFunction</label>
                
                <p> form.DiabetesPedigreeFunction.help_text </p>

              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="regular2">Age</label>
          
                <p> form.Age.help_text </p>

              </div>
            </div>

          </div>
      </div>